fail_fast: false
default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        name: json
        args: [--autofix]
        exclude: .cruft.json
      - id: check-yaml
        name: yaml
  - repo: https://github.com/python-poetry/poetry
    rev: 1.7.1
    hooks:
      - id: poetry-check
        name: poetry
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: poetry run dmypy run --timeout 7200 -- mex
      files: ^mex/
      language: system
      pass_filenames: false
      types: [python]
