fail_fast: false
default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        name: json
        args: [--autofix]
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
        name: poetry
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
      - id: mypy
        name: mypy
        files: ^mex/
        additional_dependencies:
          - "backoff>=2.2.1,<3"
          - "click>=8.1.7,<9"
          - "pandas-stubs>=2.0.3.230814"
          - "pydantic>=2.1.1,<3"
          - "pydantic-settings>=2.0.2,<3"
          - "pytest>=7.4.2,<8"
          - "types-pytz>=2023.3.1.1,<2024"
          - "types-requests>=2.31.0.8,<3"
          - "types-setuptools>=68.2.0.0,<69"
