fail_fast: false
default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: pretty-format-json
        name: json
        args: [--autofix, --indent=4, --no-ensure-ascii]
        exclude: .cruft.json
      - id: check-yaml
        name: yaml
        exclude: templates\/[a-z_-]+.yaml
      - id: end-of-file-fixer
        name: eof
      - id: trailing-whitespace
        name: whitespaces
      - id: fix-byte-order-marker
        name: byte-order
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.21
    hooks:
      - id: uv-lock
        name: uv
        args: ["--check"]
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: uv run dmypy run --timeout 7200 -- mex tests
      files: ^(mex|tests)/
      language: system
      pass_filenames: false
      types: [python]
