[tool.poetry]
name = "mex-common"
version = "0.12.1"
description = "RKI MEx common library."
authors = ["RKI MEx Team <mex@rki.de>"]
readme = "README.md"
license = "MIT"
repository = "github.com/robert-koch-institut/mex-common"
packages = [{include = "mex"}]

[tool.poetry.dependencies]
python = "^3.11"
backoff = "^2.2.1"
click = "^8.1.6"
fabric = "^3.1.0"
langdetect = "^1.0.9"
ldap3 = "^2.9.1"
numpy = "^1.25.1"
pandas = "^2.0.3"
pydantic = { version = "^2.1.1", extras = ["dotenv", "email"] }
requests = "^2.31.0"
sqlalchemy ="^1.4.49"

[tool.poetry.group.dev.dependencies]
autoflake = "^2.2.0"
black = "^23.7.0"
ipdb = "^0.13.13"
isort = "^5.12.0"
mypy = "^1.4.1"
mypy-extensions = "^1.0.0"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
sphinx = "^6.2.1"
sphinx-book-theme = "^1.0.1"
sqlalchemy = { version= "^1.4.49", extras = ["mypy"] }
types-pytz = "^2023.3.0.0"
types-requests = "^2.31.0.2"
types-setuptools = "^68.0.0.3"

[tool.ipdb]
context=5

[build-system]
requires = ["poetry-core>=1.6.1"]
build-backend = "poetry.core.masonry.api"
