name: Cookiecutter

on:
  push:
    branches: ["main"]
    tags: ["**"]
  schedule:
    - cron: "14 3 * * 1-5"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  PIP_DISABLE_PIP_VERSION_CHECK: on
  PIP_NO_CLEAN: on
  PIP_NO_INPUT: on
  PIP_PREFER_BINARY: on
  PY_COLORS: "1"

jobs:
  cruft:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.WORKFLOW_TOKEN }}

      - name: Cache requirements
        uses: actions/cache@v4
        env:
          cache-name: cache-requirements
        with:
          path: ~/.cache/pip
          key: ${{ env.cache-name }}-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ env.cache-name }}-

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install requirements
        run: make setup

      - name: Configure git
        env:
          MEX_BOT_EMAIL: ${{ vars.MEX_BOT_EMAIL }}
          MEX_BOT_USER: ${{ vars.MEX_BOT_USER }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PUB: ${{ secrets.SIGNING_PUB }}
        run: |
          eval "$(ssh-agent -s)"
          pdm setup-commit-signing

      - name: Update template
        env:
          GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
        run: |
          if cruft check; then
            echo template is up to date
            exit 0
          fi
          if [[ $(gh pr list --label cruft | wc -c) -ne 0 ]]; then
            echo already seeing pull request
            exit 0
          fi
          template_url=$(python -c "print(__import__('json').load(open('.cruft.json'))['template'])")
          template_ref=$(git ls-remote ${template_url} --heads main --exit-code | cut -c -6)
          git checkout main
          git checkout -b cruft/cookiecutter-template-${template_ref}
          cruft update --skip-apply-ask
          printf '# Changes\n\n- bumped cookiecutter template to %s/commit/%s\n' "$template_url" "$template_ref" > .cruft-pr-body
          sed -i "0,/^### Changes/s|^### Changes.*|&\n- bumped cookiecutter template to ${template_url}/commit/${template_ref}|" CHANGELOG.md
          if [[ $(find . -type f -name "*.rej" | wc -l) -ne 0 ]]; then
            printf '\n# Conflicts\n' >> .cruft-pr-body
          fi
          find . -type f -name "*.rej" | while read -r line ; do
            printf '\n```diff\n' >> .cruft-pr-body
            cat ${line} >> .cruft-pr-body
            printf '```\n' >> .cruft-pr-body
          done
          git add --all --verbose
          git commit --message "Bump cookiecutter template to $template_ref" --verbose
          git push --set-upstream origin cruft/cookiecutter-template-${template_ref} --force --verbose
          gh pr create --title "Bump cookiecutter template to $template_ref" --body-file .cruft-pr-body --label cruft --assignee ${{ vars.MEX_BOT_USER }}
